{% extends 'afficher.html.twig' %}

{% block title %}Edit Pdca{% endblock %}

{% block body %}
    <h1>Edit Pdca</h1>

div style="width:500px;">
        <div style="float: left; width: 130px"><button type="submit" class="msgBtn" onClick="return false;" >Save</button></div>
        <div style ="float: none; width: 130px"><button type="submit" class="msgBtn2" onClick="return false;">Publish</button></div>
        <div style ="float: right; width: 130px"><button class="msgBtnBack">Back</button></div>
    </div>

    {{ include('pdca/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pdca_index') }}"  class="btn btn-secondary" style="font-size:15px;">back to list</a>

    {{ include('pdca/_delete_form.html.twig') }}
{% endblock %}
