{% extends 'display.html.twig' %}

{% block title %}Edit Pdca{% endblock %}

{% block body %}
    <h1>Edit Pdca</h1>

    {{ include('pdca/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pdca_index') }}"  class="btn btn-secondary" style="font-size:15px;">back to list</a>

    {{ include('pdca/_delete_form.html.twig') }}
{% endblock %}
