{% extends 'display.html.twig' %}

{% block title %}New Pdca{% endblock %}

{% block body %}
    <h1>Create new Pdca</h1>

    {{ include('pdca/_form.html.twig') }}

    <a href="{{ path('app_pdca_index') }}"  class="btn btn-secondary" style="font-size:15px;">back to list</a>
{% endblock %}
